@import "../../sass/index.scss";

.todolist {
  &__cards{
    display: grid;
    gap: 2em;
    grid-auto-rows: 12rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  }
}